footer {
    background-color: #3e7064;
    padding: 4rem 0 8rem 0;
    color: #fff;
    h2 {
        font-weight: $font-weight-bold;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
}
