.section__full-page-header {
    color: #fff;
    a.btn {
        margin-top: 1.6rem;
    }
    h1 {
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        position: relative;
        font-size: 6rem;
        line-height: 1.1;
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 10rem;
            height: .6rem;
            opacity: .8;
            bottom: 0;
            background-color: #fff;
        }
    }
    .icon-container {
        margin-bottom: 5rem;
        @include media(breakpoint($tablet, "up")) {
            margin-bottom: 0;
        }
    }
    .container-cover-color {
        background-color: #68A998;
        mix-blend-mode: multiply;
    }
    .container-cover-image {
        background-size: cover;
        background-position: center;
        filter: grayscale(60%) contrast(45%) brightness(1.3);
    }
    .page-homepage & {
        h1 {
            font-size: 6rem;
            @include media(breakpoint($tablet, "up")) {
                font-size: 8rem;
            }
        }
        h2 {
            font-weight: $font-weight-light;
            font-size: 3rem;
        }
        .btn {
            position: relative;
            padding-right: 5rem;
            &:after {
                content: "";
                display: inline-block;
                height: 2rem;
                width: 2rem;
                border-radius: 100%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                right: 0rem;
                transform: translateY(-50%) translateX(-100%);
                transition: all $animation-time-default;
            }
            &:before {
                content: "";
                display: block;
                height: 0;
                width: 0;
                background-color: transparent;
                position: absolute;
                top: 50%;
                right: .1rem;
                transform: translateY(-50%) translateX(-100%);
                border-left: .8rem solid $color-red;
                border-top: .6rem solid transparent;
                border-bottom: .6rem solid transparent;
                border-right: .8rem solid transparent;
                z-index: 1;
                transition: all $animation-time-default;
            }
            &:hover {
                &:before {
                    border-left: .8rem solid #fff;
                    transition: all $animation-time-default;
                }
                &:after {
                    background-color: $color-red;
                    transition: all $animation-time-default;
                }
            }
        }
    }
    .section__homepage-header & {
        padding-bottom: 10rem;
        @include media(breakpoint($tablet, "up")) {
            padding-bottom: 20rem;
        }
    }
    .full-page-header-video-container {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 100;
        &:after, &:before {
            content: "";
            position: absolute;
            top: 3rem;
            right: 3rem;
            height: .3rem;
            width: 2rem;
            background-color: #fff;
            transform: rotate(45deg);
            cursor: pointer;
            outline: 4rem rgba(0, 0, 0, 0) solid;
        }

        &:before {
            transform: rotate(135deg);
        }

        .full-page-header-video-exit-area {
            position: absolute;
            top: 2rem;
            right: 2rem;
            height: 3rem;
            width: 3rem;
            cursor: pointer;
            display: block;
        }

        .full-page-header-video-position {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 60%;
            height: calc(100vw * .6 * .565);
            max-width: calc(100vh * .6 / .565);
            max-height: 100vh;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}
