.section__list-with-navigation {
    .list-navigation-item {
        padding: 2%;
        text-align: center;
        z-index: 1;
        .icon-container {
            transition: all .1s;
        }
        &:hover .icon-container, &:active {
            border-width: .2rem;
            transition: all .1s;
        }
        a {
            color: $color-green;
            font-weight: $font-weight-bold;
        }
        .list-navigation-item-label {
            margin-top: 1rem;
        }
    }
    .list-navigation-container {
        position: relative;
        display: none;
        background-color: lighten($gray-lightest, 4);
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 6vw;
            top: 0;
            background-color: #fff;
        }
        @include media(breakpoint($tablet-landscape, "up")) {
            display: block;
        }
    }
    .list-container {
        padding: 4rem 0
    }
    .list-item {
        padding: 4rem 0;
        h2 {
            color: $color-green;
            font-size: 3rem;
        }
    }
    .list-item-content {
        p:first-child {
            margin-top: 2rem
        }
        a {
            display: block;
        }
        ul {
            margin: 2rem 0 0 0;
            li:before {
                display: none;
            }
            a {
                font-weight: $font-weight-regular;
                text-transform: uppercase;
            }
        }
    }
    .icon-container {
        width: 20rem;
        height: 20rem;
        @include media(breakpoint($tablet-landscape, "up")) {
            width: auto;
            height: auto;
        }
    }
}
