.section__media-block {
	padding: 0;
	margin: 10rem 0;
	position: relative;
	.right {
		flex-direction: row-reverse;
	}
	h2 {
		color: $color-green;
		margin-bottom: 2.2rem;
		font-size: 3rem;
		font-family: $font-display;
	}
	.inner-container {
		position: static;
	}
	.media-block-media-container {
		display: none;
		@include media(breakpoint($tablet, "up")) {
			display: block;
		}
		position: absolute;
		top: 0;
		bottom: 0;
		left: 51%;
		right: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -.05rem;;
			right: 90%;
			bottom: 0;
			background-color: #fff;
			-webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
			clip-path: polygon(100% 0, 0 0, 0 100%);
		}

	}
	a.btn {
		margin-top: 1.6rem;
	}
	.page-homepage & {
		padding: 15rem 0;
		margin: 0;
		h2 {
			color: $color-red;
			font-size: 5.2rem;
		}
	}
}
