.page-contact {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
    .wysiwyg {
        color: #fff;
        h1 {
            font-family: $font-text;
            font-size: 5.2rem;
            margin: 0;
        }
        h2 {
            text-transform: uppercase;
            font-size: 2rem;
        }
        ul {
            list-style-type: none;
            margin-left: 0;
            li {
                &:before {
                    display: none;
                }
            }
        }
        strong {
            font-weight: $font-weight-bold;
        }
        .contact-information-intro {
            margin-top: 3rem;
            p {
                margin-bottom: 0;
                font-weight: $font-weight-regular;
            }
        }
        .contact-information-body {
            @include media(breakpoint($desktop, "up")) {
                margin-top: 8rem;
            }
        }
    }
    .contact-airplane {
        @include media(breakpoint($desktop-large, "up")) {
            background-image: url('../img/Lines_Contact-Line-white.svg');
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: center top 6rem;
            background-size: 136rem;
        }
        z-index: 0;
    }
    font-size: 1.6rem;
    .contact-form-container {
        background-color: $color-green;
        color: #fff;
        padding: 5rem;
        input, textarea {
            border-radius: 0;
            border: 0;
            padding: 1rem 1.5rem !important;
        }
        select {
            border:none;
            background-image:none;
            background-color: #fff;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            -webkit-appearance:none;
            padding: 1rem 1.5rem !important;
            width: 100%!important;
            color: $text-color;
            background-image: url('../img/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: right 1.5rem center;
            background-size: 1.5rem;
            &:after {
                content: "";
                width: .8rem;
                height: .8rem;
                border-right: .1rem $color-red;
            }
        }
        .ginput_container label {
            display: none !important;
        }
        .gform_footer input {
            float: right;
            margin-right: 0 !important;
            border-radius: 3rem;
            background-color: $color-red;
            font-weight: $font-weight-bold;
            color: #fff;
            text-transform: uppercase;
            min-width: 15rem;
        }
    }
    .gform_wrapper .gfield_required {
        color: $color-red;
    }

    .gform_wrapper div.validation_error {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 25px;
        border-top: 0;
        border-bottom: 0;
        padding: 16px 0;
        clear: both;
        width: 100%;
        text-align: center;
    }
    .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        background-color: rgba(255,223,224,0);
        margin-bottom: 6px!important;
        border-top: 0;
        border-bottom: 0;
        padding-bottom: 6px;
        padding-top: 8px;
        box-sizing: border-box;
    }
    .gform_wrapper .gfield_error .gfield_label {
        color: #fff;
    }
    .gform_wrapper .validation_message {
        color: #fff;
        background-color: $color-red;
        padding: .4rem .8rem !important;
    }
    .gform_wrapper.gf_browser_chrome .gfield_error input[type=email], .gform_wrapper.gf_browser_chrome .gfield_error input[type=number], .gform_wrapper.gf_browser_chrome .gfield_error input[type=password], .gform_wrapper.gf_browser_chrome .gfield_error input[type=tel], .gform_wrapper.gf_browser_chrome .gfield_error input[type=text], .gform_wrapper.gf_browser_chrome .gfield_error input[type=url], .gform_wrapper.gf_browser_chrome .gfield_error select, .gform_wrapper.gf_browser_chrome .gfield_error textarea, .gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
        margin-bottom: 0;
    }
    .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
        border: 0;
    }

    .gform_validation_error {
        .gform_wrapper .top_label li.gfield.gf_left_half:last-child:first-child, .gform_wrapper .top_label li.gfield.gf_right_half:last-child {
            padding-right: 0 !important;
        }

        div.ginput_container_name span:last-child {
            padding-right: 0;
        }
        .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
            padding-right: 0 !important;
        }
        .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
            padding-right: 0 !important;
        }
    }
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
        padding-right: 0;
    }
    .gform_wrapper .top_label .gfield_error, .gform_wrapper .top_label .gfield_error input.large, .gform_wrapper .top_label .gfield_error select.large, .gform_wrapper .top_label .gfield_error textarea.textarea {
        display: block;
    }
}
