.section__tiled-profile {
    background-color: #ffffff;
    @include background-image(linear-gradient(top, #ffffff 0%,#EFF5F9 100%));
    .tiled-profile-tile {
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 9px 0px rgba(185,185,185,.2);
        -moz-box-shadow: 0px 2px 9px 0px rgba(185,185,185,.2);
        box-shadow: 0px 2px 9px 0px rgba(185,185,185,.2);
        padding: 5rem;

        margin-top: 3rem;
    }
    .tiled-profile-image {
        height: 20rem;
        width: 20rem;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        margin: 0 auto;
    	border: 1rem solid $gray-lightest;
        margin-bottom: 5rem;
    }
    .tiled-profile-content {
        text-align: center;
    }
    .tiled-profile-description {
        margin: 3rem 0;
    }
    h3 {
        color: $color-green;
        font-size: 3rem;
        font-weight: $font-weight-regular;
    }
    h4 {
        color: $color-green;
        font-size: 1.8rem;
        font-weight: $font-weight-light;
    }
    .tile-profile-schedule {
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        font-size: 1.8rem;
    }
}
