.section__tiled-grid {
    padding: 0;
    margin: 10rem 0;
    .page-homepage & {
        padding: 10rem 0;
        margin: 0;
    }
    h2 {
        text-align: center;
        color: $color-red;
        font-family: $font-display;
    }
    .tiled-grid-description {
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
    }
    .tiled-grid-tile-collection {
        margin-top: 5rem;
    }
    .tiled-grid-tile {
        margin-top: 3rem;
        text-align: center;
        a {
            color: $text-color;
        }
    }
    img {
        display: block;
        width: 80%;
        margin: 0 auto 2rem auto;
    }
    .icon-container {
        width: 80%;
        margin: 0 auto 2rem auto;
        img {
            width: auto;
            margin-bottom: 0;
        }
    }
    a {
        .icon-container {
            transition: all .3s;

        }
        &:hover .icon-container {
            border-width: .2rem;
            transition: all .3s;
        }
    }
    h3 {
        font-weight: $font-weight-regular;
        color: $color-green;
        font-size: 3rem;
        @include media(breakpoint($tablet, "up")) {
            font-size: 2rem;
        }
        @include media(breakpoint($tablet-landscape, "up")) {
            font-size: 3rem;
        }
        margin-bottom: 2rem;
    }
    .page-homepage & {
        background-color: #ffffff;
        position: relative;
        &:before {
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;;
            display: block;
            background-image: url('../img/homepage-line.svg');
    		background-size: 100%;
            background-repeat: no-repeat;
    		background-position: center;
        }
        &.tiled-grid-background {
            &:before {
                display: none;
            }
        }

        @include background-image(linear-gradient(top, #ffffff 0%,#EFF5F9 100%));
        .tiled-grid-tile {
            background-color: #fff;
            -webkit-box-shadow: 0px 2px 9px 0px rgba(185,185,185,.2);
            -moz-box-shadow: 0px 2px 9px 0px rgba(185,185,185,.2);
            box-shadow: 0px 2px 9px 0px rgba(185,185,185,.2);
            padding: 2rem;
            @include media(breakpoint($desktop, "up")) {
                padding: 5rem;
            }

            margin-top: 3rem;
        }
        &.tiled-grid-background .tiled-grid-tile {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    .tiled-grid-link {
        text-align: center;
        margin-top: 5rem;
        .btn {
            margin: 0 auto;
        }
    }
    &.tiled-grid-background {
        background-position: center;
        background-size: cover;
        color: #fff;
        h2 {
            color: #fff;
        }
        .tiled-grid-tile {
            padding-bottom: 0;
        }
        .page-homepage & {

            .tiled-grid-tile {
                background-color: transparent;

                -webkit-box-shadow: 0px 2px 9px 0px rgba(185,185,185,0);
                -moz-box-shadow: 0px 2px 9px 0px rgba(185,185,185,0);
                box-shadow: 0px 2px 9px 0px rgba(185,185,185,0);

                .icon-container {

                }
                h3 {
                    color: #fff;
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-family: $font-text;
                }
                color: #fff;
            }
        }
    }
    .section__homepage-header & {
        position: relative;
        padding-top: 5rem;
        @include media(breakpoint($tablet, "up")) {
            padding-top: 0;
        }
        padding-bottom: 5rem;
        @include media(breakpoint($tablet, "up")) {
            padding-bottom: 1rem;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: .1rem;
            left: -1rem;
            right: 0;
            height: 5rem;
            transform: translateY(-101%);
            @include media(breakpoint($tablet, "up")) {
                top: .1rem;
                height: 15rem;
                transform: translateY(-104%);
            }
            background-color: #fff;
            -webkit-clip-path: polygon(100% 100%, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 100%);
        }
    }
}
