#301 Redirects
Redirect 301 /worship_service.cfm http://www.firstchristianchurchtc.com
Redirect 301 /Music.cfm http://www.firstchristianchurchtc.com
Redirect 301 /fellowship.cfm http://www.firstchristianchurchtc.com
Redirect 301 /bulletin.cfm http://www.firstchristianchurchtc.com
Redirect 301 /prayer_request.cfm http://www.firstchristianchurchtc.com
Redirect 301 /special_worship_services.cfm http://www.firstchristianchurchtc.com
Redirect 301 /infantdedicationpolicy.cfm http://www.firstchristianchurchtc.com
Redirect 301 /weddingpolicy.cfm http://www.firstchristianchurchtc.com
Redirect 301 /kids_ministry.cfm http://www.firstchristianchurchtc.com
Redirect 301 /youth_ministry.cfm http://www.firstchristianchurchtc.com
Redirect 301 /bible_study.cfm http://www.firstchristianchurchtc.com
Redirect 301 /monday_prayer.cfm http://www.firstchristianchurchtc.com
Redirect 301 /biblestudies.cfm http://www.firstchristianchurchtc.com
Redirect 301 /opportunities_to_serve.cfm http://www.firstchristianchurchtc.com
Redirect 301 /local_missions.cfm http://www.firstchristianchurchtc.com
Redirect 301 /pantry.cfm http://www.firstchristianchurchtc.com
Redirect 301 /foreign_missions.cfm http://www.firstchristianchurchtc.com
Redirect 301 /bethlehem.cfm http://www.firstchristianchurchtc.com
Redirect 301 /safe_harbor.cfm http://www.firstchristianchurchtc.com
Redirect 301 /cwf.cfm http://www.firstchristianchurchtc.com
Redirect 301 /craft_shows.cfm http://www.firstchristianchurchtc.com
Redirect 301 /health_and_wellness.cfm http://www.firstchristianchurchtc.com
Redirect 301 /calendar.cfm http://www.firstchristianchurchtc.com
Redirect 301 /beliefs.cfm http://www.firstchristianchurchtc.com
Redirect 301 /staff.cfm http://www.firstchristianchurchtc.com
Redirect 301 /history.cfm http://www.firstchristianchurchtc.com
Redirect 301 /Bldg_Grnds.cfm http://www.firstchristianchurchtc.com
Redirect 301 /facilities.cfm http://www.firstchristianchurchtc.com

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
