{% extends 'base/base.twig' %}

{% block content %}
	<section class="section__header-blurb">
		<div class="inner-container">
			<div class="row">
				<div class="full-column">
					{{post.content}}
				</div>
			</div>
		</div>
	</section>
{% endblock %}