<footer class="footer">
	<div class="inner-container">
		<div class="row">
			<div class="tablet-col-1-4 footer_column_1">
				{{site_options.footer_column_1}}
			</div>
			<div class="tablet-col-1-4 footer_column_2">
				{{site_options.footer_column_2}}
			</div>
			<div class="tablet-col-1-4 footer_column_3">
				{{site_options.footer_column_3}}
			</div>
			<div class="tablet-col-1-4 footer_column_4">
				{{site_options.footer_column_4}}
			</div>
		</div>
	</div>
</footer>
