body {
  color: $text-color;
  font-family: $primary-font-family;
  font-size: $font-size-base;
  line-height: $line-height-relative-base;
}
h1,h2,h3,h4,h5,h6 {
	margin: $header-margin-base 0;
	font-weight: $font-weight-bold;
	line-height: $line-height-header-base;
}
h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
h3 {
	font-size: $font-size-h3;
}
h4 {
	font-size: $font-size-h4;
}
h5 {
	font-size: $font-size-h5;
}
h6 {
	font-size: $font-size-h6;
}
a {
	color: $link-color;
	font-weight: $font-weight-base;
	@include transition(all $animation-time-default $animation-function-default);
	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}
p {
	margin: 0 0 $margin-base;
	font-weight: $font-weight-base;

	a {
		font-size: 1.6rem;
	}
}
blockquote {
	display: block;
	font-weight: $font-weight-light;
	margin: $margin-base*3.5 0;
	p {
		font-size: $font-size-base * 2;
		font-weight: $font-weight-light;
		margin-bottom: 0;
	}
}
ol,ul {
	margin: $margin-base;
	margin-right: 0;
	margin-left: $list-margin-left;
	padding: 0;
	li {
		margin-bottom: $list-margin-bottom;
		font-weight: $font-weight-base;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
ul {
	@if $unorder-list-style == none {
		margin-left: 0;
	}
	li {
		list-style: $unorder-list-style;
	}
}
ol {
	@if $order-list-style == none {
		margin-left: 0;
	}
	li {
		list-style: $order-list-style;
	}
}

hr {
	outline: none;
	border: none;
	height: $hr-height;
	background-color: $hr-background;
	margin: $hr-margin 0;
}




